<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech to Text</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    
    <link href="css/linetravlr.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
      <!-- top nav section -->
      <!-- <a href="/" class="no-underline nav navbar-nav">Restart</a></li> -->

      <!-- Service Description Bar -->

      <!-- <div id="flight-suggestion" class="header fix-top" style="display:none">
        <div class="container">
          <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
            <img src="images/logo.png" class="service-icon"> -->
          <!--</div>.col-lg-2 -->

          <!-- <div class="col-lg-10 col-md-10 col-xs-12">
            <h1>Line Traveller</h1>
            <p>Hassle-free flight search for people who don't know where to go!</p> -->
          <!-- </div>.col-lg-10 -->
        <!-- </div>.container -->
      <!-- </div>.header -->


      <!-- Display flight suggestion on top -->
      <div id="loadImg">
        <div><img src="images/loading.gif" /></div>
      </div>
      <div style="z-index:1000">
        <iframe class= "fix-top" src=<%= webpath %> onload="document.getElementById('loadImg').style.display='none';">
        </iframe>
      </div>

    <!-- Step 1 Section-->
    <div class="container">
      <!-- Step 3 Section-->
      <!-- First column of inputs -->

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->

        <!-- Tab panes -->

        <section class="section">

          <div class="chatscreen" id="chatscreen">

            <ul class="chats">
              <!-- The chat messages will go here -->
            </ul>

          </div>

        </section>
        <div id="bottom"></div>

        

<!--         <footer>
        <div class="row">
          <nav class="navbar navbar-inverse">
          <ul class="navbar-text">
            <li id="recordButton" class="button-row nav-inverse-color">
            <img id="microphoneIcon" src="images/microphone.svg" class="icon">
            </li>
            <li class="play-sample-1 button-row nav-inverse-color">
            <img src="images/play.svg" class="icon">
            <span class="nav-label">Play Sample 1</span>
            </li>
          </ul>

          </nav>
        </div>
      </footer> -->


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="audioParent">
            <audio class="audio" controls>
            Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div><!-- row -->

      </div><!-- /.container -->

      <footer>
          <div class="my-divider">

          </div>

          <div id="chatform">
            <div>
              <div class="my-box" style="width:90px; float:right;">
                <button id="recordButton" class="my-recordbtn">
                  <img id="microphoneIcon" src="images/microphone.svg" class="icon my-center">
                </button>
                <div>
                  <button type="submit" id="submit" name="submit" value="submit">SEND</button>
                </div>
              </div>
              <div class="footer-textarea">
                <textarea id="resultsText" placeholder="Hi Line Travelr" ></textarea>
              </div>

            </div>
          </div>
        </footer>

      <!-- for file upload dialog in toolbar -->
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="js/index.js"></script>
      <script src="js/linetravlr.js"></script>
  </body>
</html>
